@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500;600&display=swap");

* {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

#root,
#__next {
	isolation: isolate;
}

html {
	min-width: 300px;
}

body {
	background-color: hsl(210, 46%, 95%);
	font-size: 0.813rem;
	font-family: "Barlow Semi Condensed", sans-serif;
	font-weight: 400;
}

.container {
	width: 1000px;
	margin: 0 auto;
}

#grid {
	display: grid;
	grid-auto-columns: 2fr 2fr 2fr 2fr;
	column-gap: 20px;
	row-gap: 20px;
	padding-top: 60px;
}

h1 {
	margin-bottom: 0px;
	margin-top: 0px;
	font-size: 0.813rem;
}

.grad {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 0.75rem;
	opacity: 50%;
}

h2 + p {
	opacity: 70%;
}

h2 {
	padding-top: 10px;
}

p {
	margin-top: 25px;
}

.clifford {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
	background-image: url("../images/bg-pattern-quotation.svg");
	background-repeat: no-repeat;
	background-position: 82% 0%;
	background-color: hsl(263, 55%, 52%);
	color: hsl(0, 0%, 100%);
	padding: 10px 30px 30px 30px;
	border-radius: 7px;
}

.walters {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;
	background-color: hsl(217, 19%, 35%);
	color: hsl(0, 0%, 100%);
	padding: 10px 30px 30px 30px;
	border-radius: 7px;
}

.whittle {
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 3;
	background-color: hsl(0, 0%, 100%);
	/* padding: 10px 30px 30px 30px; */
	padding: 20px;
	border-radius: 7px;
	box-shadow: 4px 2px 16px -2px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 4px 2px 16px -2px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 4px 2px 16px -2px rgba(0, 0, 0, 0.75);
}

.kiratext {
	font-weight: 500;
}

.harmon {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
	background-color: hsl(0, 0%, 100%);
	padding: 10px 30px 30px 30px;
	border-radius: 7px;
	box-shadow: 4px 2px 16px -2px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 4px 2px 16px -2px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 4px 2px 16px -2px rgba(0, 0, 0, 0.75);
}

.abrams {
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 3;
	background-color: hsl(219, 29%, 14%);
	color: hsl(0, 0%, 100%);
	padding: 10px 30px 30px 30px;
	border-radius: 7px;
}

.veri {
	display: flex;
	flex-direction: column;
}

.all {
	display: flex;
	align-items: center;
	gap: 15px;
}

img {
	border-radius: 50%;
	width: 40px;
	height: 40px;
}

footer {
	position: absolute;
	bottom: 50px;
	left: 43%;
}

@media all and (max-width: 1439px) {
	.container {
		width: 43.75rem;
	}

	#grid {
		grid-template-columns: 1fr;
	}

	.clifford {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 1;
		grid-row-end: 2;
	}

	.walters {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 2;
		grid-row-end: 3;
	}

	.harmon {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 3;
		grid-row-end: 4;
	}

	.abrams {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 4;
		grid-row-end: 5;
	}

	.whittle {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 5;
		grid-row-end: 6;
	}

	footer {
		position: static;
		margin-top: 15px;
	}
}

@media all and (max-width: 800px) {
	.container {
		width: 34rem;
	}
}

@media all and (max-width: 600px) {
	.container {
		width: 24rem;
	}
}

@media all and (max-width: 500px) {
	.container {
		width: 15.625rem;
	}
}

@media all and (max-width: 450px) {
	.container {
		width: 14.063rem;
	}
}

@media all and (max-width: 375px) {
	.container {
		width: 20rem;
	}

	#grid {
		grid-template-columns: 1fr;
	}

	.clifford {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 1;
		grid-row-end: 2;
	}

	.walters {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 2;
		grid-row-end: 3;
	}

	.harmon {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 3;
		grid-row-end: 4;
	}

	.abrams {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 4;
		grid-row-end: 5;
	}

	.whittle {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 5;
		grid-row-end: 6;
	}

	footer {
		position: static;
		margin-top: 15px;
	}
}
